<div class="container_big_card">
    <div class="big_card_photo">
        <img 
        src="https://miro.medium.com/v2/resize:fit:1400/1*qgo4_MwETtxdspEqt12sNA.png"
        alt=""
        height="200px"
        >
    </div>
    <div class="big_card_title">
        <h1><a href="#">Saiu a nova versao do angular</a></h1>
    </div>

    <div class="big_card_description">
        <p>
        <a>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis volutpat tortor,
            id aliquam tortor rutrum quis. Curabitur facilisis aliquet ligula faucibus mattis. Aenean porttitor, 
            augue et auctor ultricies, lorem enim molestie velit, 
            ut egestas ex sapien id mi.
        </a>
        </p>
    </div>
</div>